* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.side-bar {
    background-color: #060014;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
    width: 22%;
}

.perfil-section {
    display: flex;
    margin-left: 15px;
}

.perfil-image {
    width: 40%;
}

.perfil-image img {
    border-radius: 8px;
    width: 100%;
}

.perfil-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
}

.perfil-info h1{
    color: white;
    font-size: 30px;
}

.perfil-info p{
    color: #6A6A6A;
    font-size: 18px;
    transition: 0.5s;
}

.perfil-info p:hover{
    color: #b6b6b6;
    cursor: pointer;
}

.menu-section {
    align-items: center;
    color: #6A6A6A;
    display: flex;
    flex-direction: column;
    height: 45%;
    justify-content: space-around;
}

.menu-options {
    display: flex;
    flex-direction: column;
    height: 35%;
    justify-content: space-around;
    width: 80%;
}

.menu-option {
    font-size: 18px;
    text-align: center;
    transition: 0.5s;
}

.menu-option:hover {
    color: #b6b6b6;
    cursor: pointer;
}

.menu-hr {
    border: 1px solid #6a6a6a46;
    width: 50%;
}